PORT=5174
CORS_ORIGIN=https://synfiniconstruction.org

# Amazon WorkMail SMTP
SMTP_HOST=email-smtp.us-west-2.amazonaws.com
SMTP_PORT=587
SMTP_USER=AKIAQWBJ2KKRCFRU4KWE
SMTP_PASS=BMtxtRMhdn1D9lCmcj7UoSsYfAUOjHw4OOaXvfElu+Sk
SMTP_FROM=Synfiny Construction <contact@synfiniconstruction.org>
SMTP_TO=contact@synfiniconstruction.org